.card-details {
  height: 100%;
  padding: 8px 16px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .ion-page {
    border-radius: 24px;
  }

  &__close {
    display: flex;
    flex-direction: row-reverse;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__section {
      margin-bottom: 8px;

      &:not(:first-of-type) {
        margin-top: 8px;
      }
    }
  }

  &__spacer {
    flex: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  &__subtitle {
    opacity: 0.66;
  }

  &__name {
    margin-right: 4px;
  }

  &__age {
    margin-right: 4px;
  }

  &__gender {
    height: 16px;
    width: 16px;
    font-size: 16px;
    opacity: 0.33;
  }

  &__breed {
    font-size: 14px;
  }

  &__available-since {
    font-size: 12px;
  }

  &__description {
    &__text {
      margin: 0 !important;
    }
  }

  &__attributes {
    margin-bottom: 8px;

    &__title {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &__item {
      display: flex;
    }

    &__icon {
      margin-right: 8px;
    }
  }

  &__org-info {
    &__title {
      font-size: 18px;
      margin-bottom: 8px;
    }
    &__item {
      display: flex;
      align-items: center;
      line-height: 24px;
      margin-bottom: 4px;

      .mat-icon {
        margin-right: 8px;
      }
    }
  }

  &__view-adoption {
    display: flex;
    justify-content: center;
  }

  &__last-updated {
    font-size: 14px;
    opacity: 0.33;
    text-align: center;
  }
}
