.card {
  max-width: 450px;
  transition: all 0.3s ease-in-out;
  margin: 24px 16px;
  border-radius: 16px;
  background: darken(white, 86%);

  &--moving {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }

  &__image {
    height: 150px;
    width: 150px;
    margin: auto;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    margin-bottom: 25px;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    padding: 16px;
  }
}
