<!-- <div class="card-stack">
  <div class="card-stack__card" *ngFor="let card of cards; let i = index"
    [ngStyle]="{ zIndex: cards.length - i, transform: 'scale(' + (20 - i) / 20 + ') translateY(-' + 20 * i + 'px)' }">
    <app-card [card]="card" (selectionMade)="onCardChoiceMade($event, card)"></app-card>
  </div>
</div> -->
<div class="card-stack">
  <mat-spinner *ngIf="!cards || cards.length < 1"></mat-spinner>
  <div class="card-stack__card" *ngFor="let card of cards; let i = index"
    [ngStyle]="{ zIndex: maxZIndex - i, transform: 'scale(' + getSafeScaleValue(i) + ') translateY(-' + 20 * i + 'px)' }">
    <app-card [card]="card" (selectionMade)="onCardChoiceMade($event, card)"></app-card>
  </div>
</div>
