<ion-content>
  <ion-list>
    <ion-list-header>Settings</ion-list-header>
    <ion-item>
      <ion-label>
        <h2>Location</h2>
        <div class="setting__subtitle">
          <h3>Geolocation <mat-icon>gps_fixed</mat-icon>
          </h3>
        </div>
        <div *ngIf="location?.lat && location?.long">
          <div class="setting__item">
            <div class="setting__item__label">
              <h4>Latitude: </h4>
            </div>
            <div class="setting__item__value" *ngIf="!locationUpdating">
              {{ location?.lat | number:'1.0-3'}}
            </div>
            <div class="setting__item__value setting__item__value--skeleton" *ngIf="locationUpdating">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </div>
          </div>
          <div class="setting__item">
            <div class="setting__item__label">
              <h4>Longitude: </h4>
            </div>
            <div class="setting__item__value" *ngIf="!locationUpdating">
              {{ location?.long | number:'1.0-3'}}
            </div>
            <div class="setting__item__value setting__item__value--skeleton" *ngIf="locationUpdating">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </div>
          </div>
        </div>
      </ion-label>
      <button mat-icon-button tappable (click)="onUpdateLocation()">
        <mat-icon>refresh</mat-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>